<% @messages.each do |message| %>

  <div>
    <%= link_to message.title, message_path(message.id) %>
  </div>

  <div>
    <%= message.content %>
  </div>

  <div>
    <% if message.urgent %>
      <strong>This message is fucking urgent!</strong>
    <% end %>
  </div>

<% end %>