<div>
  <%= @message.title %>
</div>

<div>
  <%= @message.content %>
</div>

<div>
  <% if @message.urgent %>
    <strong>This message is fucking urgent!</strong>
  <% end %>
</div>

<%= link_to "Delete", message_path, :confirm => "Are you sure?", :method=>:delete %>