<%= content_tag_for(:div, conversation) do |conversation| %>

  <tr>
    <td>
      <%= link_to conversation.subject, conversation_path(conversation) %>
    </td>

    <td>
      <% if conversation.is_completely_trashed?(current_user) %>
        <%= link_to content_tag(:i,nil, :class=>"fa fa-undo"), untrash_conversation_path(conversation), method: :post %>
      <% else %>
        <%= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), trash_conversation_path(conversation), method: :post %>
      <% end %>
    </td>
  </tr>

<% end %>
